<div class="EditorPageWrapper EditorPageWrapper--offset0">
  <div class="EditorPageWrapper__inner" style="width: 1300%;">
    <div class="editor" id="richEditor" style="transition: all 0.3s ease 0s;">
      <div class="DraftEditor-root">
        <div class="DraftEditor-editorContainer">
          <div aria-label="" class="notranslate public-DraftEditor-content" contenteditable="true" role="textbox"
            spellcheck="true"
            style="outline: none; user-select: text; white-space: pre-wrap; overflow-wrap: break-word;">
            <div data-contents="true">
              <div class="__unstyled paragraph alignment--inherit block--empty" data-block="true" data-editor="4o17k"
                data-offset-key="3u1j-0-0" contenteditable="true">
                <div>
                  <div data-testid="block-wrapper" class="DraggingRow">
                    <div data-offset-key="3u1j-0-0" class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr">
                      <span data-offset-key="3u1j-0-0"><br data-text="true"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="position: absolute; top: 80px; left: 0px; right: 0px; height: 80px;"></div>
      <div style="position: absolute; bottom: 0px; left: 0px; right: 0px; height: calc(60vh + 80px);"></div><input
        type="file" style="display: none;">
      <div style="display: none;">
        <div class="Field">
          <div class="Field__header">
            <div class="Field__headerlabel" style="position: relative; z-index: 1;">
              <div class="DraftEditor-root">
                <div class="public-DraftEditorPlaceholder-root">
                  <div class="public-DraftEditorPlaceholder-inner" id="placeholder-__field"
                    style="white-space: pre-wrap;">What is your question?</div>
                </div>
                <div class="DraftEditor-editorContainer">
                  <div aria-describedby="placeholder-__field" aria-label="What is your question?"
                    class="notranslate public-DraftEditor-content" contenteditable="true" role="textbox"
                    spellcheck="false"
                    style="outline: none; user-select: text; white-space: pre-wrap; overflow-wrap: break-word;">
                    <div data-contents="true">
                      <div class="" data-block="true" data-editor="__field" data-offset-key="7lrki-0-0">
                        <div data-offset-key="7lrki-0-0"
                          class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                            data-offset-key="7lrki-0-0"><br data-text="true"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Field__controls">
              <div class="Select has-value is-searchable Select--single">
                <div class="Select-control">
                  <div class="Select-multi-value-wrapper" id="react-select-2--value">
                    <div class="Select-value"><span class="Select-value-label" role="option" aria-selected="true"
                        id="react-select-2--value-item">Text</span></div>
                    <div class="Select-input" style="display: inline-block;"><input
                        aria-activedescendant="react-select-2--value" aria-expanded="false" aria-haspopup="false"
                        aria-owns="" role="combobox" value="" style="box-sizing: content-box; width: 5px;">
                      <div
                        style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: &quot;Work Sans&quot;, sans-serif; font-weight: 300; font-style: normal; letter-spacing: normal; text-transform: none;">
                      </div>
                    </div>
                  </div><span class="Select-arrow-zone"><span class="Select-arrow"></span></span>
                </div>
              </div>
            </div>
            <div class="Field__MobileConfigurationOptions" spellcheck="false"><a
                class="btn-primary btn-raised">Configure</a><a class="btn-default btn-raised">Remove</a></div>
          </div>
          <div class="Field__hinttext" style="position: relative; z-index: 1;">
            <div class="DraftEditor-root">
              <div class="public-DraftEditorPlaceholder-root">
                <div class="public-DraftEditorPlaceholder-inner" id="placeholder-__field"
                  style="white-space: pre-wrap;">Add some help text</div>
              </div>
              <div class="DraftEditor-editorContainer">
                <div aria-describedby="placeholder-__field" aria-label="Add some help text"
                  class="notranslate public-DraftEditor-content" contenteditable="true" role="textbox"
                  spellcheck="false"
                  style="outline: none; user-select: text; white-space: pre-wrap; overflow-wrap: break-word;">
                  <div data-contents="true">
                    <div class="" data-block="true" data-editor="__field" data-offset-key="4t7us-0-0">
                      <div data-offset-key="4t7us-0-0"
                        class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"><span
                          data-offset-key="4t7us-0-0"><br data-text="true"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Field__configurationOptions" spellcheck="false"><a class="material-icons"
              draggable="true">drag_indicator</a><a data-label="Duplicate" class="material-icons">content_copy</a><a
              data-label="Configure" class="material-icons">settings</a><a data-label="Remove"
              class="material-icons">close</a></div>
        </div>
      </div>
    </div>
    <div class="EditorPage"></div>
    <div class="EditorPage"></div>
    <div class="EditorPage"></div>
    <div class="EditorPage"></div>
    <div class="EditorPage"></div>
    <div class="EditorPage"></div>
    <div class="EditorPage"></div>
    <div class="EditorPage"></div>
    <div class="EditorPage"></div>
    <div class="EditorPage"></div>
    <div class="EditorPage"></div>
  </div>
</div>


<div class="Select-menu-outer">
  <div class="Select-menu" id="react-select-3--list" role="listbox" tabindex="-1">
    <div class="Select-option" role="option" aria-label="Text" id="react-select-3--option-0">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">text_fields</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Text</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Email" id="react-select-3--option-1">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">email</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Email</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="URL" id="react-select-3--option-2">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">link</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">URL</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Yes / No" id="react-select-3--option-3">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">flaky</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Yes / No</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Color Picker" id="react-select-3--option-4">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">palette</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Color Picker</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Number" id="react-select-3--option-5">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">looks_one</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Number</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Phone Number" id="react-select-3--option-6">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">smartphone</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Phone Number</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Address" id="react-select-3--option-7">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">home</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Address</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Country" id="react-select-3--option-8">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">public</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Country</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Appointment" id="react-select-3--option-9">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">insert_invitation</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Appointment</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Date" id="react-select-3--option-10">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">calendar_today</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Date</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Time" id="react-select-3--option-11">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">schedule</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Time</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Scale" id="react-select-3--option-12">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">linear_scale</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Scale</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Slider" id="react-select-3--option-13">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">horizontal_rule</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Slider</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Multiple Choice" id="react-select-3--option-14">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">check_box</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Multiple Choice</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Dropdown" id="react-select-3--option-15">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">arrow_drop_down</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Dropdown</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Rank" id="react-select-3--option-16">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">line_weight</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Rank</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Rating" id="react-select-3--option-17">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">star</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Rating</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Image Upload" id="react-select-3--option-18">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">portrait</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Image Upload</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="File Upload" id="react-select-3--option-19">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">attach_file</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">File Upload</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Signature" id="react-select-3--option-20">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">gesture</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Signature</div>
      </div>
    </div>
    <div class="Select-option is-focused" role="option" aria-label="Price" id="react-select-3--option-21">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">attach_money</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Price</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Products" id="react-select-3--option-22">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">shopping_bag</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Products</div>
      </div>
    </div>
    <div class="Select-option is-selected" role="option" aria-label="Subscriptions" id="react-select-3--option-23">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">loop</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Subscriptions</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Calculation" id="react-select-3--option-24">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">calculate</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Calculation</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Hidden" id="react-select-3--option-25">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">cancel_presentation</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Hidden</div>
      </div>
    </div>
    <div class="Select-option" role="option" aria-label="Matrix" id="react-select-3--option-26">
      <div style="display: flex; align-items: center; justify-content: center;">
        <div
          style="width: 30px; height: 30px; background: rgb(238, 238, 238); border-radius: 4px; display: flex; align-items: center; justify-content: center;">
          <i class="material-icons" style="font-size: 15px; color: var(--midnight);">grid_on</i></div>
        <div style="flex: 1 1 0%; padding: 3px 9px;">Matrix</div>
      </div>
    </div>
  </div>
</div>